/*********** GENERAL ***********/
* {
    box-sizing: border-box;
    font-family: sans;
}

p, span { font-size: 1em; }

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.1em; }

/*********** lAYOUT ***********/
.container-full { width: 100%; }
.container-half { width: 50%; }

.container-90 { width: 90%; }
.container-40 { width: 40%; }
.container-35 { width: 35%; }
.container-30 { width: 30%; }
.container-20 { width: 19%;}

.centered { margin: 0 auto 0 auto; }
.txt-centered { text-align: center; }

.input-long { width: 400px; }
.input-medium { width: 200px; }
.input-small { width: 100px; }

.ft-large { font-size: 2em; }
.ft-default { font-size: 1em; }
.ft-medium { font-size: 0.9em; }
.ft-small { font-size: 0.8em; }

.padding-20 { padding: 20px; }
.padding-15 { padding: 15px; }
.padding-10 { padding: 10px; }
.padding-5 { padding: 5px; }

.float-l { float: left; }
.float-r { float: right; }

.clear { clear: both; }
.clear-l { clear: left; }
.clear-r { clear: right; }

/*********** COLORING TEXT/BACKGROUND ***********/
.bg-gray { background-color: rgb(240, 238, 238); }
.bg-lightblue { background-color: #7de5da; }
.bg-mediumblue { background-color: #70cbc2; }
.bg-blue { background-color: #62b3aa; }
.txt-black { color: black; }

/*********** SEARCH AREA ***********/
.search-area {
    height: 70px;
}

/*********** INFORMATION AREA ***********/
.information-area > .container-40, .container-20 { height: 80px; }
.information-area > .container-20 { margin: 0 0.5% 0 0.5%; } /* SPACE FOR BETWEEN CARDS */